@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');


.user-profile {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding: 200px;
    max-width: 900px;
    max-height: 900px;
    margin-top: 10px auto;
    text-align: center;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  }
  
  .user-image {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  