
.section-container-rg {
  max-width: 580px;
  margin: 0 auto;
  padding: 2rem 3rem;
  text-align: center;
}
.form-rgs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background: gray;
  border-radius: 15px;
  margin-bottom: 30px;
}



.input-group {
  position: relative;
}

.input-group_input {
  font: Inherit;
  color: #FFF;
  padding: 18px;
  border: none;
  border-radius: 4px;
  outline: 2px solid #FFF;
  background-color: transparent;
  transition: outline-color 500ms;
}

.input-group_input:is(:focus, :valid) {
  outline-color: #3c50eb;
}


.input-group_label {
  position: absolute;
  top: e;
  left: 0;
  translate: 10px 10px;
  color: #fff;
  transition: translate 500ms,
    scale 500ms;
}

.input-group_input:focus
.input-group_label,
.input-group_input:valid
.input-group_label {
  padding-inline: 5px;
  translate: 10px -14px;
  scale: 0.8;
  background-color: #000;
}

.button-rg {
  background-color: #fff;
  color : black;
  margin-bottom: 10px;
}

