.cont {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-images {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  padding: 5px;
  margin: 0px 5px;
  border: 2px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #555;
}

.images img {
  width: 99%;
  height: 99%;
  border-radius: 10px;
}


.upload-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #1475cf;
  height: 200px;
  width: 850px;
  cursor: pointer;
  border-radius: 5px;
}

.uploader-row {
  margin: 0;
  margin-top: 10px;
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #e9f0ff;
}

.upload-content {
  display: flex;
  align-items: center;
}
