.posts {
  display: flex;
  flex-direction: row;
}

.post {
  margin-right: 30px;
}

.post_img{
    display: flex;
    flex: column;
    width: 20px;
    height: 20px;
}

.h5 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
  }
  .h6 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
  }