.posts {
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  height: 600px;
  width: 400px;
}
.post_img{
  height: 400px;
  width: 400px;
}