@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@1,500&display=swap');

.slidenav{
  top: 130px;
  left: 10px;
  width: 200px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  padding-bottom: 2em;
}

.div-no-user {
  margin-top: 10px;
  margin-left: 10px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-user {
  margin-top: 10px;
  margin-left: 10px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Red Hat Mono', monospace;
}

.div-user h2 {
  color: rgb(27, 10, 112);
  margin-left: 30px;
  display: flex;
  justify-content: center;
}


.slidenav_logo{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
    
}
.slidenav_buttons{
    display: flex;
    flex-direction: column;
}

.slidenav_button{
    display: flex;
    background-color: white;
    flex-direction: row;
    align-items: center;
    border: 0;
    margin: 5px 10px 5px 10px;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    width: 100%;

}

.slidenav_button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.12);
}

.active {
  .slidenav_button{
    background-color: #7C7C7C;
    color: white;
  }
}



.slidenav_button  span{
    font-size: 18px;
    font-weight: bolder;
    margin-left: 18px;
}
.slidenav_more{
    position: fixed;
    bottom: 3px;
    text-decoration:none;
}

@media (max-width: 768px) {
    .slidenav{
    top: 120px;
    left: 10px;
    width: 50px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
  }
  .slidenav_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    /* margin: 5px 10px 5px 10px; */
    /* padding: 10px 15px 10px 15px; */
    border-radius: 15px;
    width: 100%;
  }
  .slidenav_logo{
    width: 50px;
    height: 50px;
    margin: 2px;
  }
  .slidenav_button span {
    display: none;
  }
  .div-user h2 {
    /* margin-left: 30px; */
    display: none;
    /* justify-content: center; */
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  /* .menu-icon img { */
  /* } */
  .slidenav_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    margin: 5px 10px 5px 10px;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    width: 100%;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

