.timeline{
    display: flex;
    flex-direction: row;
}
.timeline_left{
    flex: 1.2;
}
.timeline_right{
    flex: 0.2;
}

.timeline-post {
  display: flex;
  flex-direction: column;
  position: center;

}
