.timeline{ 
  position: relative;
  top: 120px;
  left: 10px;
  display: flex;
  flex-direction: row;
  width: 1000px;
}
.timeline_left{
    flex: 1.2;
}
.timeline_right{
    flex: 0.2;
}

.timeline-post {
  display: flex;
  flex-direction: column;
}
